*{
    margin: 0;
    padding: 0;
}

body, main {
    height: 100vh;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 300px;
    width: 200px;
    box-shadow: 2px 2px 5px 0px #0000008f;
    box-sizing: border-box;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.575);
}
section img {
   width: 200px; 
   height: 150px;
   object-fit: fill;
   overflow: hidden;
   border-radius: 20px 20px 0 0px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
}   
.botao {
    background-color: rgb(0, 162, 255);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
}
h2 {
    margin: 10px;
    font-size: 20px;
}
small {
    margin-bottom: 5%;
    color: rgba(0, 0, 0, 0.432);
}

span {
    font-weight: bolder;
    margin: 5px;
}